---
import '../styles/clone-overrides.css';

interface Props {
	title?: string;
	description?: string;
}

const {
	title = 'Elire Ride Mexico | EliteRideMexico',
	description = 'Astro + React recreation for Elire Ride Mexico.'
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<link
			href="https://cdn.prod.website-files.com/6677ef5c2f59c6148debf7e0/css/gearshifttemplate.webflow.shared.a9d9dda81.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="body">
		<slot />
	</body>
</html>
